#col--logo,
#col--main-left,
#card--current-dose {
  @include fixed-width(320px);
}
 
#card--steady-state { @include fixed-width(350px); }

#card--vancoHdAdj { @include fixed-width(550px); }

#card--twolevel { @include fixed-width(580px); }

#card--amg,
#card--ivig {
  @include fixed-width(600px);
}


// #card--tpn-1,
// #card--tpn-2,
#card--qtc {
  @include fixed-width(400px);
}
// #card--tpn-kcal { @include fixed-width(500px); }
 
 
#card--nextdose { @include fixed-width(700px); }
#card--kcentra { @include fixed-width(700px); }
#card--alligation { @include fixed-width(700px); }
#nicu-lytes-table1 > .form-row { @include fixed-width(700px); }
#nicu-lytes-table2 > .form-row { @include fixed-width(70rem); }
#nicu-lytes-table3 > .form-row { @include fixed-width(700px); }
#nicu-lytes-patient-inputs > .form-row { @include fixed-width(70rem); }
// #col--pca-params { @include fixed-width(500px); }

#card--auc,
#card--aucLinear,
#card--peakTiming,
#card--seconddose,
#card--protocol-adjustment,
#card--heparin,
#alert--heparin,
#card--pca,
#card--initial-pk,
#card--initial-dosing,
#card--warf,
#nav-initial .has-alert-only .alert {
  @include fixed-width(650px);
}

#card--nicu-tpn-fluid {
  max-width: 600px;
}

#card--nicu-tpn-totals,
#card--nicu-tpn-osm,
#card--nicu-notes {
  max-width: 600px;
  min-width: 380px;
}