@import '../node_modules/bootstrap/dist/css/bootstrap';
@import './fontawesome';
@import './variables';
@import './mixins';
@import './fixedWidths';
@import './customCol';

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  text-align: center;
  max-width: 98vw;
  margin-bottom: 70px;
  &.homepage {
    margin-right: $len-1;
    margin-left: $len-1;
    min-width: 75rem;
  }
}

#col--logo > .page-title {
  min-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
}

#col--resetButton {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
// #col-alert--initial-dosing { @include fixed-width(315px); }
.page-title {
  margin: $len-1;
}

#svg--logo,
#img--logo {
  margin: $len-2;
}

.h1,
h1 {
  font-size: $len-55;
}

.card {
  margin-top: $len-2;
  margin-bottom: $len-2;
}

.form-row {
  margin-bottom: $len-1;
}

.input-group {
  flex-wrap: nowrap;
}

.col-form-label.small,
small.col-form-label {
  font-size: $len-275;
  font-weight: 400;
}

.input-group:not(.hidden) + .input-group:not([class*=offset-]),
.col-form-label:not(.hidden) + .col-form-label:not([class*=offset-]) {
  margin-left: 0;
  padding-left: 0;
}

%form-element-base {
  align-items: center;
  display: flex;
  background-clip: padding-box;
  margin: 0;
  border-radius: $bdr-radius;
  height: calc(2rem + 2px);
  line-height: 1.5rem;
  font-weight: 400;
}

%form-row-element {
  @extend %form-element-base;

  justify-content: center;
  border: $bdr-width solid $bdr-color;
  padding: $len-1 $len-2;
}

.form-row label:not(.form-check-label):not(.btn) {
  @extend %form-element-base;

  justify-content: flex-start;
  border-width: 0;
  padding: calc(0.25rem + 1px) 0.5rem;
  font-size: $len-3;
  color: $clr-veryDarkGray;

  &.text-center {
    align-self: stretch;
    justify-content: center;
    vertical-align: middle;
  }

  &.text-right {
    align-self: end;
    justify-content: flex-end;
  }
  &.offset-05   { margin-left: 4.166667%; }
  &.offset-15   { margin-left: 12.5%;     }
  &.offset-25   { margin-left: 20.83333%; }
  &.offset-35   { margin-left: 29.16667%; }
  &.offset-45   { margin-left: 41.66667%; }
  &.offset-55   { margin-left: 45.83333%; }
  &.offset-65   { margin-left: 54.16667%; }
  &.offset-75   { margin-left: 62.5%;     }
  &.offset-85   { margin-left: 70.83333%; }
  &.offset-95   { margin-left: 79.16667%; }
  &.offset-105  { margin-left: 87.5%;     }
  &.offset-115  { margin-left: 95.83333%; }
  &.offset-1    { margin-left: 8.3333%;   }
  &.offset-2    { margin-left: 16.6667%;  }
  &.offset-3    { margin-left: 25%;       }
  &.offset-4    { margin-left: 33.3333%;  }
  &.offset-5    { margin-left: 41.6667%;  }
  &.offset-6    { margin-left: 50%;       }
  &.offset-7    { margin-left: 58.3333%;  }
  &.offset-8    { margin-left: 66.6667%;  }
  &.offset-9    { margin-left: 75%;       }
  &.offset-10   { margin-left: 83.3333%;  }
  &.offset-11   { margin-left: 91.6667%;  }

  &.small { font-size: $len-275; }
  &.xsmall { font-size: $len-25; }
  &.large { font-size: $len-35; }
}
.card-subtitle {
  &.large {
    font-size: $len-35;
  }
}

.input-group-text {
  @extend %form-row-element;

  background-color: $clr-bg-text;
  font-size: $len-275;
  color: $clr-veryDarkGray;
  white-space: nowrap;

  &:first-child {
    margin-right: -1px;
    justify-content: flex-end;
  }

  &:last-child {
    margin-left: -1px;
    justify-content: flex-start;
  }

  &.input-group-note {
    border: 0;
    background: transparent;
  }
  @media print {
    background: transparent;
  }
}

.form-help-text {
  color: $clr-gray;
  text-align: left;
  display: block;
  margin-top: $len-1;
  font-size: 80%;
  font-weight: 400;
  padding-left: $len-2;

  &.form-help-text-inline {
    display: flex;
    align-items: center;
  }
}

.table-sm {
  color: $clr-veryDarkGray;
  font-size: $len-25;
  margin-top: $len-4;

  th {
    background-color: $clr-bg-output;
    text-align: left;
  }
}

.output {
  @extend %form-row-element;

  font-size: $len-275;
  color: $clr-black;
  background-color: $clr-bg-output;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  transition: none;
  overflow: auto;

  &.multi-line {
    display: block;
    white-space: wrap;
    text-align: center;

    &.multi-line-2 {
      height: 4rem;
    }

    &.multi-line-3 {
      height: 6rem;
    }

    &.multi-line-4 {
      height: 6.8rem;
    }
  }
  @media print {
    background: transparent;
  }
}

.calc-direction {
  @extend .output;
  font-weight: bold;
  border: none;
  background: transparent;
  color: $clr-vmfh-gray-dark;
  overflow: hidden;
}

.form-control {
  @extend %form-row-element;

  font-size: $len-3;
  color: $clr-black;
  background-color: #fff;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:focus {
    color: $clr-black;
    background-color: #fff;
    border-color: $clr-lightBlue;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    z-index: 3;
  }

  &.dt-time {
    flex-basis: 25%;
  }

  &.dt-date {
    flex-basis: 50%;
  }
}

.form-control:not(:last-child),
.input-group-text:not(:last-child),
.output:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control:not(:first-child),
.input-group-text:not(:first-child),
.output:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::-webkit-calendar-picker-indicator,
::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input {
  text-align: center;
}

.input-group .btn {
  @extend %form-row-element;
}

.use-this,
.isTherapeutic,
.isSuggested,
.highlighted {
  background-color: $clr-highlight;
  color: $clr-black;
  @media print {
    font-weight: bold;
  }
}

.invalid {
  border-color: #c00;
  @media print {
    text-decoration: line-through;
  }
}

.input-group.invalid > .input-group-prepend:first-child > .input-group-text,
.input-group.invalid > .input-group-append:first-child > .input-group-text,
.input-group.invalid > input:first-child {
  border-left-color: #c00;
}

.input-group.invalid > .input-group-prepend:last-child > .input-group-text,
.input-group.invalid > .input-group-append:last-child > .input-group-text,
.input-group.invalid > input:last-child {
  border-right-color: #c00;
}

.input-group.invalid > .input-group-prepend > .input-group-text,
.input-group.invalid > .input-group-append > .input-group-text,
.input-group.invalid > input {
  border-top-color: #c00;
  border-bottom-color: #c00;
}


.btn-seconddose-freq,
.form-row label.btn-seconddose-freq {
  border: 1px solid $bdr-color;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  background-color: #f5f5f5;
  &.homepage {
    width: 98vw;
    margin-right: $len-1;
    margin-left: $len-1;
    min-width: 75rem;
  }
  @media print {
    background: transparent;
  }
}

/* ----------------------------------------------- */

.hd-0 .hide-hd-0,
.hd-1 .hide-hd-1,
.hd-2 .hide-hd-2,
.hd-3 .hide-hd-3,
.hd-4 .hide-hd-4 {
  display: none;
}

.age-adult .hide-age-adult,
.age-child .hide-age-child,
.age-infant .hide-age-infant {
  display: none;
}

.age-child.hd-1,
.age-child.hd-2,
.age-child.hd-3,
.age-child.hd-4,
.age-child.hd-5,
.age-infant.hd-1,
.age-infant.hd-2,
.age-infant.hd-3,
.age-infant.hd-4,
.age-infant.hd-5 {
  .hide-peds-hd {
    display: none;
  }
}

#card--qtc {
  &.qtc-afib {
    .qtc-non-af {
      display: none
    }
  }
  &:not(.qtc-afib) {
    .qtc-af-only {
      display: none;
    }
  }
}

#row--amgTab {
  &.amg-cf {
    .amg-ext-only {
      display:none;
    }
  }
  &.amg-ext {
    .amg-cf-only {
      display: none;
    }
  }
}

#card--alligation.alligation-single {
  .alligation-double-only {
    display: none;
  }
}

#col--alligation-result {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  line-height: 1.1em;
  text-align:left;
  justify-content: flex-start;
}


#row--vanco-md-bayesian {
  display: none;
}

%arial-text {
  font-family: "Arial", sans-serif;
  font-size: 11pt;
  line-height: 1.1em;
  text-align: left;
  justify-content: flex-start;
  height: 10em;
}

#ivig-text {
  @extend %arial-text;

  padding: 1em;
  height: 10em;
}

#kcentra--output {
  @extend %arial-text;

  padding: 1em;
  height: 12em;
}

textarea {
  resize: none;
}

#ivig-text[readonly],
#kcentra--output[readonly] {
  background: fade-out($clr-bg-output, 0.7);
  @media print {
    background: transparent;
  }
}

.demo-only {
  display: none;
}

.like-card-header {
  background-color: rgba(0, 0, 0, 0.03);
  color: $clr-blackish;
  border-radius: $bdr-radius;
  border: $bdr-width solid $bdr-color;
  font-weight: 500;
}

i.fa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  @extend %form-element-base;

  a {
    display: flex;
    flex-flow: row nowrap;
  }

  .icon-container-text {
    margin-left: $len-2;
  }
}

a[data-toggle="popover"],
a[data-toggle="modal"] {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.fa-info-circle,
.fa-question-circle,
.fa-calculator {
  color: $clr-vmfh-blue;
}

#nav-initial .has-alert-only .alert {
  font-size: $len-275;
}

.card-body-alert {
  font-size: $len-275;
  padding: $len-25 $len-4;
  border: none;
}

.card-body-alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  .alert-link {
    color: #002752;
  }
}

.card-body-alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary button.btn-outline-secondary {
  color: inherit;
}

.output {
  &.alert-heading { color: inherit; }
  &.alert-link { font-weight: 700; }
  &.alert-dismissible { padding-right: 4rem; }
  
  &.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
  
  &.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  &.alert-primary hr { border-top-color: #9fcdff; }
  &.alert-primary .alert-link { color: #002752; }
  &.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
  }
  &.alert-secondary hr { border-top-color: #c8cbcf; }
  &.alert-secondary .alert-link { color: #202326; }
  &.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &.alert-success hr { border-top-color: #b1dfbb; }
  &.alert-success .alert-link { color: #0b2e13; }
  &.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  &.alert-info hr { border-top-color: #abdde5; }
  &.alert-info .alert-link { color: #062c33; }
  &.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  &.alert-warning hr { border-top-color: #ffe8a1; }
  &.alert-warning .alert-link { color: #533f03; }
  &.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  &.alert-danger hr { border-top-color: #f1b0b7; }
  &.alert-danger .alert-link { color: #491217; }
  &.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
  }
  &.alert-light hr { border-top-color: #ececf6; }
  &.alert-light .alert-link { color: #686868; }
  &.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
  }
  &.alert-dark hr { border-top-color: #b9bbbe; }
  &.alert-dark .alert-link { color: #040505; }
}
.tape {
  @extend %arial-text;

  font-size: 8pt;
  margin: $len-1;
  padding: $len-2;

  td {
    vertical-align: top;

    &:not(:first-child) {
      padding-left: $len-4;
    }
  }
}

.semibold {
  font-weight: 600;
}

.line-height-1 {
  line-height: 1 !important;
}

.alert-dismissible .close {
  padding: $len-2;
  padding-top: 0;
}

.form-check-label.small,
.input-group .btn.small {
  font-size: $len-275;
}

.form-check-input + .form-check-label.small {
  padding-left: 0;
}

.form-row label.small {
  font-size: $len-25;
}

#aucDatesModal .modal-dialog {
  min-width: 600px !important;
}

/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
} */


/* #tapeModal .modal-dialog {
  min-width: 800px !important;
} */

.modal-body--scroll {
  overflow-x: clip;
}

.fade-opacity {
  transition: opacity 0.3s linear;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.btn-primary {
  background-color: $clr-vmfh-green;
  border-color: $clr-vmfh-green-dark;
}

.btn-primary:hover {
  background-color: $clr-vmfh-green-dark;
  border-color: $clr-vmfh-green-dark;
}

ul {
  margin-bottom: 0;
}

.card-footer {
  padding: $len-2 $len-4;
}

#nav-more {
  margin-top: -7px;
}

.table-sm.pump-limits {
  margin-top: 0;
  margin-bottom: $len-2;

  caption {
    padding-top: $len-1;
    padding-bottom: 0;
  }
}

.pca-bg-warning {
  background-color: lighten($orange, 35%);
}

.pca-bg-danger {
  background-color: lighten($red, 35%);
}

.pca-bg-error {
  background-color: lighten($red, 22%);
}

.beta-notice {
  background: $red;
}

.btn-group--nextdose-freq {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: $len-3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: $len-4;
  margin-right: $len-4;
  padding-left: $len-5;
  padding-right: $len-5;

  &.btn-group-vertical > .btn {
    border-radius: 0;
    margin-top: -1px;
    padding: $len-1;
  }

  &.btn-group-vertical > .btn.is-top {
    border-top-left-radius: $len-1;
    border-top-right-radius: $len-1;
  }

  &.btn-group-vertical > .btn.is-bottom {
    border-bottom-left-radius: $len-1;
    border-bottom-right-radius: $len-1;
  }
}

.btn:not(:disabled):not(.disabled).btn-group-vertical__spacer {
  cursor: initial;
}

.btn-group--nextdose-time {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, 1fr);
  margin-top: $len-2;

  &.btn-group > .btn {
    border-radius: 0;
    margin-top: -1px;
    padding: $len-1;
  }

  &.btn-group > .btn.is-top-left {
    border-top-left-radius: $len-1;
  }

  &.btn-group > .btn.is-top-right {
    border-top-right-radius: $len-1;
  }

  &.btn-group > .btn.is-bottom-left {
    border-bottom-left-radius: $len-1;
    margin-left: 0;
  }

  &.btn-group > .btn.is-bottom-right {
    border-bottom-right-radius: $len-1;
  }
}

.tooltip-inner {
  max-width: 600px;
}

#btnReset {
  padding-top: $len-1;
  padding-bottom: $len-1;
}

#col--main-left .card-header {
  padding-top: $len-1;
  padding-bottom: $len-1;
}

.hidden {
  display: none !important;
}

.pl-5px {
  padding-left: 5px !important;
}

@media print {
  
  .card-footer {
    background: transparent;
  }
  button[type="button"],
  a[data-toggle="modal"],
  a[role="button"][data-toggle="tooltip"] {
    display: none;
  }
  #vancoInitialMaintenance-PrintOnly {
    border-style: dotted;
  }
}