<div class="row hide-hd-1 hide-hd-2 hide-hd-3 hide-hd-4 hide-peds-hd">
  <div class="col-auto">
    <div class="card" id="card--amgDW">
      <div class="card-header h6">Aminoglycoside Dosing Weight</div>
      <div class="card-body">
        <div class="form-row">
          <div class="input-group col-12 mb-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="amgAlt">
              <label class="form-check-label" for="amgAlt">
                Cystic Fibrosis, Prepartum, or Postpartum?
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-12">
            <div class="output multi-line multi-line-2" id="amgDosingWeight"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>