<div class="card" id="card--ivig">
  <div class="card-header h5">IVIG Rate Calculator</div>
  <div class="card-body">
    <div class="form-row">
      <label for="ivig-product" class="col-2">Select Drug</label>
      <div class="col-8 input-group">
        <select id="ivig-product" class="form-control small">
          <option>Privigen 10% (10 g/100 mL) for CIDP/Primary Immunodeficiency</option>
          <option>Privigen 10% (10 g/100 mL) for ITP</option>
          <option>Octagam 10% (10 g/100 mL)</option>
          <option>Octagam 5% (10 g/200 mL)</option>
          <option>Gamunex-C (10 g/100 mL) for ITP/Primary Immunodeficiency</option>
          <option>Gamunex-C (10 g/100 mL) for CIDP</option>
        </select>
      </div>
    </div>
    <div class="form-row d-print-none" id="form-row--ivig-weight-note">
      <div class="col-6 input-group">
        <div class="text-left d-flex"><i class="fa fa-arrow-left mr-1"></i> Enter patient's actual weight</div>
      </div>
    </div>
    <div class="form-row">
      <label for="ivig-dose" class="col-2">Dose</label>
      <div class="col-3 input-group">
        <input type="number" class="form-control" id="ivig-dose" step="any">
        <div class="input-group-append">
          <div class="input-group-text">g</div>
        </div>
      </div>
    </div>                      
    <div class="form-row">
      <label for="ivig-text" class="col-2">Rate</label>
      <div class="input-group col-9">
        <textarea class="form-control" id="ivig-text" readonly></textarea>
      </div>
    </div>
  </div>
  <div class="card-footer d-print-none">
    <div class="card-text small text-left">
      Dose is not required for calculation.  If dose is specified, total infusion time will be calculated.
    </div>
  </div>
</div>