<div class="card" id="card--kcentra">
  <div class="card-header h5">KCentra Lot Number & Expiration</div>
  <div class="card-body">
    <div class="form-help-text" id="kcentra--scancode--helptext">
      Scan one or multiple barcodes into the box below
    </div>
    
    <div class="form-row">
      <label for="kcentra--scancode" class="col-1">Scan:</label>
      <div class="input-group col-11">
        <!-- Sample scan code for testing: value="\010036383338602521291897562305661721061510P100020362\" -->
        <input type="text" class="form-control input-kcentra text-center" id="kcentra--scancode" aria-describedby="kcentra--scancode--helptext">
      </div>
    </div>
    <div class="form-row mt-4 mb-4">
      <div class="col-12 input-group justify-content-center">
        <button class="btn btn-light" id="kcentra--start">Process Scan Code(s)</button>
        <button class="btn btn-light ml-2" id="kcentra--btnAdd">Add Blank Row</button>
      </div>
    </div>

    <div class="form-row mt-4 mb-4" id="kcentra--btnSum--wrapper">
      <div class="col-12 input-group justify-content-center">
        <button class="btn btn-light" id="kcentra--btnSum">Generate Text</button>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group col-8 offset-2" id="kcentra--textarea-wrapper">
        <textarea class="form-control admin-instructions" id="kcentra--output" readonly></textarea>
      </div>
    </div>
  </div>
</div>















