<div class="card" id="card--pca">
  <div class="card-header h5">PCA Calculator</div>
  <div class="card-body">
    <div class="form-row">
      <label class="col-3" for="pca-drug">Drug and Therapy</label>
      <div class="col-3 input-group">
        <select id="pca-drug" class="form-control small">
          <option value="morphine">morphine</option>
          <option value="HYDROmorphone">HYDROmorphone</option>
          <option value="fentaNYL">fentaNYL</option>
        </select>
      </div>
      <div class="col-5 input-group">
        <select id="pca-therapy" class="form-control small">
          <option value="Standard">Standard</option>
          <option value="Concentrated">Concentrated</option>
          <option value="Palliative Care (Standard)">Palliative Care (Standard)</option>
          <option value="Palliative Care (Concentrated)">Palliative Care (Concentrated)</option>
        </select>
      </div>
    </div>
    <div class="col-10" id="col--pca-params">
      <div class="form-row">
        <div class="col-3 offset-5 font-weight-bold">&nbsp;<span class="pca-ci-night hidden">Day</span>&nbsp;</div>
        <div class="col-3 font-weight-bold">&nbsp;<span class="pca-ci-night hidden">Night</span>&nbsp;</div>
      </div>
      <div class="form-row">
        <label for="pca-bolusDose" class="col-5">PCA Dose</label>
        <div class="col-3 input-group">
          <input type="number" class="form-control input-pca" id="pca-bolusDose" step="any">
          <div class="input-group-append">
            <div class="input-group-text pca-units">mg</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pca-lockout" class="col-5">Lockout Interval</label>
        <div class="col-3 input-group">
          <input type="number" class="form-control input-pca" id="pca-lockout" step="any">
          <div class="input-group-append">
            <div class="input-group-text">min</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="card-subtitle mt-1 text-secondary font-italic">Before considering max dose...</div>
      </div>
      <div class="form-row pca-ci-only hidden">
        <label for="pca-maxFromBolus" class="col-5">Max possible from bolus</label>
        <div class="col-3 input-group pca-ci-night hidden">
          <div class="output" id="pca-maxFromBolus2"></div>
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-maxFromBolus"></div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-5 input-group">
          <select id="pca-continuous" class="form-control small">
            <option value="none">No Continuous Infusion</option>
            <option value="overnight">CI: 2200-0600</option>
            <option value="continuous">CI: 24 hours</option>
          </select>
        </div>
        <div class="input-group col-3 pca-ci-night hidden">
          &nbsp;
        </div>
        <div class="col-3 input-group pca-ci-only hidden">
          <input type="number" class="form-control input-pca" id="pca-ciRate" step="any">
          <div class="input-group-append">
            <div class="input-group-text pca-unitsPerHour">mg/hr</div>
          </div>
        </div>
      </div>
      <div class="form-row pca-ci-only hidden">
        <label for="pca-amtFromCI" class="col-5">Amount from CI</label>
        <div class="input-group col-3 pca-ci-night hidden">
          &nbsp;
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-amtFromCI"></div>
        </div>
      </div>
      <div class="form-row">
        <label class="col-5">Total Possible Dose</label>
        <div class="col-3 input-group pca-ci-night hidden">
          <div class="output" id="pca-totalAmtPossible-day"></div>
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-totalAmtPossible-night"></div>
        </div>
      </div>
      <div class="form-row">
        <label class="col-5">At most, new syringe every...</label>
        <div class="col-3 input-group pca-ci-night hidden">
          <div class="output" id="pca-maxDispenseFreq-day"></div>
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-maxDispenseFreq-night"></div>
        </div>
      </div>
      <div class="form-row">
        <div class="card-subtitle mt-1 text-secondary font-italic">With max dose...</div>
      </div>
      <div class="form-row">
        <label for="pca-orderedMax" class="col-5">Ordered Maximum</label>
        <div class="col-3 input-group">
          <input type="number" class="form-control input-pca" id="pca-orderedMax" step="any">
          <div class="input-group-append">
            <div class="input-group-text pca-unitsPerOneHour">mg/1 hr</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pca-maxDispenseFreq-final" class="col-5">At most, new syringe every...</label>
        <div class="col-3 input-group">
          <div class="output" id="pca-maxDispenseFreq-final"></div>
        </div>
      </div>
      <div class="form-row pca-ci-only hidden">
        <label class="col-5">Available for Bolus</label>
        <div class="col-3 input-group pca-ci-night hidden">
          <div class="output" id="pca-availableForBolus-day"></div>
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-availableForBolus-night"></div>
        </div>
      </div>
      <div class="form-row">
        <label class="col-5">Average bolus allowed</label>
        <div class="col-3 input-group pca-ci-night hidden">
          <div class="output" id="pca-averageFreq-day"></div>
        </div>
        <div class="col-3 input-group">
          <div class="output" id="pca-averageFreq-night"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="form-row mb-1">
      <div class="col text-center semibold text-secondary" id="pca-syringe">morphine (Standard) 30 mg/30 mL</div>
    </div>
    <div class="form-row">
      <div class="col">
        <table class="table table-sm table-bordered pump-limits">
          <thead>
            <tr>
              <td class="h6">Pump Limits</td>
              <th scope="col" class="text-center">Hard Min</th>
              <th scope="col" class="text-center">Soft Min</th>
              <th scope="col" class="text-center">Soft Max</th>
              <th scope="col" class="text-center">Hard Max</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Loading Dose</th>
              <td class="text-secondary font-italic">n/a</td>
              <td class="pca-pumplimit" id="pca-pumplimit-load-min-soft">0.1 mg</td>
              <td class="pca-pumplimit" id="pca-pumplimit-load-max-soft">2 mg</td>
              <td class="pca-pumplimit" id="pca-pumplimit-load-max-hard">4 mg</td>
            </tr>
            <tr>
              <th scope="row">PCA Dose</th>
              <td class="text-secondary font-italic">n/a</td>
              <td class="pca-pumplimit" id="pca-pumplimit-pca-min-soft">0.1 mg</td>
              <td class="pca-pumplimit" id="pca-pumplimit-pca-max-soft">4 mg</td>
              <td class="pca-pumplimit" id="pca-pumplimit-pca-max-hard">5 mg</td>
            </tr>
            <tr>
              <th scope="row">Continuous Rate</th>
              <td class="text-secondary font-italic">n/a</td>
              <td class="pca-pumplimit" id="pca-pumplimit-continuous-min-soft">0.1 mg/hr</td>
              <td class="pca-pumplimit" id="pca-pumplimit-continuous-max-soft">2 mg/hr</td>
              <td class="pca-pumplimit" id="pca-pumplimit-continuous-max-hard">3 mg/hr</td>
            </tr>
            <tr>
              <th scope="row">Lockout Interval</th>
              <td class="pca-pumplimit" id="pca-pumplimit-lockout-min-hard">5 min</td>
              <td class="pca-pumplimit" id="pca-pumplimit-lockout-min-soft">6 min</td>
              <td class="pca-pumplimit" id="pca-pumplimit-lockout-max-soft">60 min</td>
              <td class="text-secondary font-italic">n/a</td>
            </tr>
            <tr>
              <th scope="row">Max Accumulated Dose</th>
              <td class="text-secondary font-italic">n/a</td>
              <td class="pca-pumplimit" id="pca-pumplimit-accumulated-min-soft">0.1 mg/1 hr</td>
              <td class="pca-pumplimit" id="pca-pumplimit-accumulated-max-soft">7.5 mg/1 hr</td>
              <td class="pca-pumplimit" id="pca-pumplimit-accumulated-max-hard">15 mg/1 hr</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>