<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="tapeModalAmgLabel">Calculation Details</h5>
    </div>
    <div class="modal-body modal-body--scroll" id="tapeModalAmgBody">
      <div class="row">
        <div class="col-12">
          <table class="tape">
            <tbody>
              <tr>
                <td id="tapeAmg--pt"></td>
                <td id="tapeAmg--calc"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>