<div class="row hide-age-infant hide-age-child">
  <div class="alert alert-danger ml-3 mt-4 mb-4">
    This is a draft version &ndash; TPN calculations have not been validated yet. 
    Confirm all calculations with existing tools and guidelines.
  </div>
</div>
<div class="row hide-age-infant hide-age-child">
  <div class="col-auto">
    <div class="card" id="card--tpn-1">
      <div class="card-body">
        <div class="form-row">
          <label for="tpn-fluidReqs" class="col-6">Daily Fluid Requirements</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-fluidReqs"></div>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-dosingWeight" class="col-6">TPN Dosing Weight</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-dosingWeight"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card" id="card--tpn-2">
      <div class="card-body">
        <div class="form-row">
          <label for="tpn-bee" class="col-6">Basal Energy Expenditure</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-bee"></div>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-rmr" class="col-6">Resting Metabolic Rate</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-rmr"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row hide-age-infant hide-age-child">
  <div class="col-auto">
    <div class="card" id="card--tpn-kcal">
      <div class="card-header h6">Daily Energy Requirements</div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-3 like-card-header">
            Method 1
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-maint" class="col-6">Maintenance</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-maint"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.2 &times; RMR"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-stress" class="col-6">Mild-moderate stress</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-stress"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.3-1.5 &times; RMR"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <div class="col-3 like-card-header">
            Method 2
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-maint" class="col-6">Maintenance</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-maint"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="25-30 kcal/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-malnourished" class="col-6">Malnourished, hypermetabolic*</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-malnourished"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="30-35 kcal/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-refeeding" class="col-6 pl-4">*Start lower if refeeding risk</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-refeeding"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="25 kcal/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-renal" class="col-6">CKD/HD/PD</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-renal"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="30-35 kcal/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-bmi30" class="col-6">Critically Ill (BMI &lt; 30)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-bmi30"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="25 kcal/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-bmi3050" class="col-6">Critically Ill (BMI 30-50)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-bmi3050"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="11-14 kcal/kg/day, based on ABW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-kcal-icu-bmi50" class="col-6">Critically Ill (BMI &gt; 50)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-kcal-icu-bmi50"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="22-25 kcal/kg/day, based on IBW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card" id="card--tpn-kcal">
      <div class="card-header h6">Daily Protein Requirements</div>
      <div class="card-body">
        <div class="form-row">
          <label for="tpn-prot-mait" class="col-6">Maintenance</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-maint"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="0.8-1 g/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-mildStress" class="col-6">Mild stress</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-mildStress"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1-1.2 g/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-modStress" class="col-6">Moderate stress/rebuilding</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-modStress"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.2-1.5 g/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-severeStress" class="col-6">Severe stress (wound healing)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-severeStress"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.5-2.2 g/kg/day, based on TPN DW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-obesity" class="col-6">Obesity</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-obesity"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.5 g/kg/day, based on IBW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-obesity30" class="col-6">Obesity (critical care, BMI 30-40)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-obesity30"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="2 g/kg/day, based on IBW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="tpn-prot-obesity40" class="col-6">Obesity (critical care, BMI &gt; 40)</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-obesity40"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="2.5 g/kg/day, based on IBW"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-aki" class="col-6">Acute renal failure</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-aki"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.2-1.6 g/kg/day"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-ckd" class="col-6">CKD not on dialysis</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-ckd"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="0.6-0.8 g/kg/day, restriction may slow progression of renal disease"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="form-row">
          <label for="tpn-prot-hd" class="col-6">ESRD on HD or PD</label>
          <div class="input-group col-5">
            <div class="output" id="tpn-prot-hd"></div>
          </div>
          <div class="col-1 icon-container">
            <a role="button" data-toggle="tooltip" data-placement="right" data-html="true"
            title="1.2-1.4 g/kg/day, no restriction"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>