<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multi-Purpose Calculator</title>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" href="icon.svg">
  <link rel="alternate icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="alternate icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="alternate icon" href="favicon.ico">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <link rel="manifest" href="site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
</head>
<body <%= bodyStyle %> >
  <div class="modal fade" id="tapeModal" tabindex="-1">
    <%= require('html-loader!./partials/tapeModal.html').default %>
  </div>
  <div class="modal fade" id="aucDatesModal" tabindex="-1">
    <%= require('html-loader!./partials/aucDatesModal.html').default %>
  </div>
  <div class="modal fade" id="tapeModalAmg" tabindex="-1">
    <%= require('html-loader!./partials/tapeModalAmg.html').default %>
  </div>
  <%=  betaBanner %>
  <div class="container-fluid mx-1 my-2 hd-0 age-adult" id="top-container">
    <div class="row">
      <%= require('html-loader!./partials/logo.html').default %>
      <div class="col" id="col--top-nav">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-initial-tab" data-toggle="tab" href="#nav-initial" role="tab">Initial</a>
            <a class="nav-item nav-link" id="nav-adjustment-tab" data-toggle="tab" href="#nav-adjustment" role="tab">Single Level</a>
            <a class="nav-item nav-link" id="nav-auc-tab" data-toggle="tab" href="#nav-auc" role="tab">AUC Dosing</a>
            <a class="nav-item nav-link" id="nav-twolevel-tab" data-toggle="tab" href="#nav-twolevel" role="tab">Two-Level PK</a>
            <a class="nav-item nav-link" id="nav-seconddose-tab" data-toggle="tab" href="#nav-seconddose" role="tab">Second Dose</a>
            <a class="nav-item nav-link" id="nav-amg-tab" data-toggle="tab" href="#nav-amg" role="tab">AMG</a>
            <a class="nav-item nav-link" id="nav-ivig-tab" data-toggle="tab" href="#nav-ivig" role="tab">IVIG</a>
            <!-- <a class="nav-item nav-link" id="nav-tpn-tab" data-toggle="tab" href="#nav-tpn" role="tab">TPN</a> -->
            <a class="nav-item nav-link" id="nav-more-tab" data-toggle="tab" href="#nav-more" role="tab">More...</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="row" id="row--main">
      <div class="col" id="col--main-left">
        <h1 class="h4" id="page-title">Multipurpose Calculator</h1>
        <%= require('html-loader!./partials/patient.html').default %>
      </div>
      <div class="col" id="col--main-right">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-initial">
            <%= require('html-loader!./partials/initial.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-adjustment">
            <%= require('html-loader!./partials/adjustment.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-auc">
            <%= require('html-loader!./partials/auc.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-twolevel">
            <%= require('html-loader!./partials/twolevel.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-seconddose">
            <%= require('html-loader!./partials/seconddose.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-amg">
            <%= require('html-loader!./partials/amg.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-ivig">
            <%= require('html-loader!./partials/ivig.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-more">
            <div class="col-12">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" id="nav-more-heparin-tab" data-toggle="tab" href="#nav-more-heparin" role="tab">Heparin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-pca-tab" data-toggle="tab" href="#nav-more-pca" role="tab">PCA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-kcentra-tab" data-toggle="tab" href="#nav-more-kcentra" role="tab">KCentra</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-nextdose-tab" data-toggle="tab" href="#nav-more-nextdose" role="tab">Std. Admin Times</a>
                </li>
              </ul>
            </div>
            <div class="col">
              <div class="tab-content" id="nav-moreContent">
                <div class="tab-pane fade show active" id="nav-more-heparin">
                  <%= require('html-loader!./partials/heparin.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-pca">
                  <%= require('html-loader!./partials/pca.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-kcentra">
                  <%= require('html-loader!./partials/kcentra.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-nextdose">
                  <%= require('html-loader!./partials/nextdose.html').default %>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted small">v<%= buildversion %> &copy; <%= thisYear %> VMFH Pharmacy Services
        &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;
        <a href="<%= homepage %>" target="_blank" rel="noopener noreferrer">Repository</a>
        &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;
        <!-- <a href="http://pharmot.github.io/multipurpose-calculator/" target="_blank" rel="noopener noreferrer">Documentation</a>
          &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp; -->
          <a href="<%= issues %>" target="_blank" rel="noopener noreferrer">Issues</a>
        </span>
      </div>
    </footer>
  </body>
  </html>
