<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multi-Purpose Calculator</title>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" href="icon.svg">
  <link rel="alternate icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="alternate icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="alternate icon" href="favicon.ico">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <link rel="manifest" href="site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
</head>
<body <%= bodyStyle %> >
  <div class="modal fade" id="tapeModal" tabindex="-1">
    <%= require('html-loader!./partials/tapeModal.html').default %>
  </div>
  <div class="modal fade" id="aucDatesModal" tabindex="-1">
    <%= require('html-loader!./partials/aucDatesModal.html').default %>
  </div>
  <%=  betaBanner %>
  <div class="container-fluid mx-1 my-2 hd-0 age-adult" id="top-container">
    <div class="row">
      <%= require('html-loader!./partials/logo.html').default %>
      <div class="col" id="col--top-nav">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-initial-tab" data-toggle="tab" href="#nav-initial" role="tab">Initial</a>
            <a class="nav-item nav-link" id="nav-adjustment-tab" data-toggle="tab" href="#nav-adjustment" role="tab">Single Level</a>
            <a class="nav-item nav-link" id="nav-auc-tab" data-toggle="tab" href="#nav-auc" role="tab">AUC Dosing</a>
            <a class="nav-item nav-link" id="nav-twolevel-tab" data-toggle="tab" href="#nav-twolevel" role="tab">Two-Level PK</a>
            <a class="nav-item nav-link" id="nav-seconddose-tab" data-toggle="tab" href="#nav-seconddose" role="tab">Second Dose</a>
            <a class="nav-item nav-link" id="nav-ivig-tab" data-toggle="tab" href="#nav-ivig" role="tab">IVIG</a>
            <!-- <a class="nav-item nav-link" id="nav-tpn-tab" data-toggle="tab" href="#nav-tpn" role="tab">TPN</a> -->
            <a class="nav-item nav-link" id="nav-more-tab" data-toggle="tab" href="#nav-more" role="tab">More...</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="row" id="row--main">
      <div class="col" id="col--main-left">
        <h1 class="h4" id="page-title">Multipurpose Calculator</h1>
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <label for="ptage" class="col-4">Age</label>
              <div class="col-1 icon-container">
                <a role="button" data-toggle="tooltip" data-placement="bottom" data-html= "true" title="Enter age in years.<br>To enter in months or days,<br>enter in the format:<br>#m, #d, or #m#d."><i class="fa fa-question-circle"></i></a>
              </div>
              <div class="input-group col-7">
                <input type="text" id="ptage" class="form-control input-patient">
              </div>            
            </div>
            <div class="form-row">
              <label for="sex" class="col-5">Sex</label>
              <div class="input-group col-7">
                <input type="text" id="sex" class="form-control input-patient" placeholder="M or F">
              </div>
            </div>
            <div class="form-row">
              <label for="weight" class="col-5">Weight</label>
              <div class="input-group col-7">
                <input type="text" id="weight" class="form-control input-patient">
                <div class="input-group-append">
                  <div class="input-group-text">kg</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="height" class="col-5">Height</label>
              <div class="input-group col-7">
                <input type="text" id="height" class="form-control input-patient">
                <div class="input-group-append">
                  <div class="input-group-text">cm</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="scr" class="col-5">SCr</label>
              <div class="input-group col-7">
                <input type="text" id="scr" class="form-control input-patient">
                <div class="input-group-append">
                  <div class="input-group-text">mg/dL</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="hd" class="col-5">Dialysis</label>
              <div class="input-group col-7">
                <select id="hd" class="form-control">
                  <option>No</option>
                  <option>HD</option>
                  <option>PD</option>
                  <option>CVVH/CVVHD/CVVHDF</option>
                  <option>SLED</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" id="btnReset" tabindex="999">Reset All</button>
        </div>
        <div class="card">
          <div class="card-header h5">Calculated Weights</div>
          <div class="card-body">
            <div class="form-row hide-age-infant hide-age-child">
              <label for="ibw" class="col-5">IBW</label>
              <div class="input-group col-7">
                <div class="output" id="ibw"></div>
              </div>
            </div>
            <div class="form-row hide-age-infant hide-age-child">
              <label for="overUnder" class="col-5 pl-3">Over/Under</label>
              <div class="input-group col-7">
                <div class="output" id="overUnder"></div>
              </div>
            </div>
            <div class="form-row hide-age-infant hide-age-child">
              <label for="adjBW" class="col-5">AdjBW</label>
              <div class="input-group col-7">
                <div class="output" id="adjBW"></div>
              </div>
            </div>
            <div class="form-row hide-age-infant hide-age-child">
              <label for="lbw" class="col-5">LBW</label>
              <div class="input-group col-7">
                <div class="output" id="lbw"></div>
              </div>
            </div>
            <div class="form-row">
              <label for="bmi" class="col-5">BMI</label>
              <div class="input-group col-7">
                <div class="output" id="bmi"></div>
              </div>
            </div>
            <div class="form-row">
              <label for="bsa" class="col-5">BSA</label>
              <div class="input-group col-7">
                <div class="output" id="bsa"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="card--crcl">
          <div class="card-header h5">Creatinine Clearance</div>
          <div class="card-body">
            <div class="form-row hide-age-infant hide-age-child">
              <label for="cgActual" class="col-5">C-G (Actual)</label>
              <div class="col-7 input-group">
                <div class="output outCrCl" id="cgActual"></div>
              </div>
            </div>
            <div class="form-row hide-age-infant hide-age-child">
              <label for="cgIdeal" class="col-5">C-G (Ideal)</label>
              <div class="col-7 input-group">
                <div class="output outCrCl" id="cgIdeal"></div>
              </div>
            </div>
            <div class="form-row hide-age-infant hide-age-child">
              <label for="cgAdjusted" class="col-5 col-form-label">C-G (Adjusted)</label>
              <div class="col-7 input-group">
                <div class="output outCrCl" id="cgAdjusted"></div>
              </div>
            </div>
            <div class="form-row hide-age-adult hide-age-child">
              <label for="schwartz-k-infant" class="col-4 col-form-label">K value</label>
              <div class="col-8 input-group">
                <select id="schwartz-k-infant" class="form-control">
                  <option>0.45 (Term Infant)</option>
                  <option>0.33 (LBW Infant)</option>
                </select>
              </div>
            </div>
            <div class="form-row hide-age-adult">
              <label for="schwartz-crcl" class="col-4 col-form-label">Schwartz</label>
              <div class="col-8 input-group">
                <div class="output font-weight-bold" id="schwartz-crcl"></div>
              </div>
            </div>
          </div>
          <div class="card-footer text-left hide-age-infant hide-age-child">
            <div class="card-text small">
              Use highlighted CrCl for most medications.
            </div>
            <div class="card-text small mt-2">
              C-G (Actual) should <strong>always</strong> be used for:
              <ul>
                <li>dofetilide (Tikosyn)</li>
                <li>rivaroxaban (Xarelto)</li>
                <li>zoledronic acid (Reclast)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col" id="col--main-right">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-initial">
            <%= require('html-loader!./partials/initial.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-adjustment">
            <%= require('html-loader!./partials/adjustment.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-auc">
            <%= require('html-loader!./partials/auc.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-twolevel">
            <%= require('html-loader!./partials/twolevel.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-seconddose">
            <%= require('html-loader!./partials/seconddose.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-ivig">
            <%= require('html-loader!./partials/ivig.html').default %>
          </div>
          <div class="tab-pane fade" id="nav-more">
            <div class="col-12">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" id="nav-more-heparin-tab" data-toggle="tab" href="#nav-more-heparin" role="tab">Heparin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-amg-tab" data-toggle="tab" href="#nav-more-amg" role="tab">AMG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-pca-tab" data-toggle="tab" href="#nav-more-pca" role="tab">PCA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-kcentra-tab" data-toggle="tab" href="#nav-more-kcentra" role="tab">KCentra</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-more-nextdose-tab" data-toggle="tab" href="#nav-more-nextdose" role="tab">Std. Admin Times</a>
                </li>
              </ul>
            </div>
            <div class="col">
              <div class="tab-content" id="nav-moreContent">
                <div class="tab-pane fade show active" id="nav-more-heparin">
                  <%= require('html-loader!./partials/heparin.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-amg">
                  <%= require('html-loader!./partials/amg.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-pca">
                  <%= require('html-loader!./partials/pca.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-kcentra">
                  <%= require('html-loader!./partials/kcentra.html').default %>
                </div>
                <div class="tab-pane fade" id="nav-more-nextdose">
                  <%= require('html-loader!./partials/nextdose.html').default %>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted small">v<%= buildversion %> &copy; <%= thisYear %> VMFH Pharmacy Services
        &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;
        <a href="<%= homepage %>" target="_blank" rel="noopener noreferrer">Repository</a>
        &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;
        <!-- <a href="http://pharmot.github.io/multipurpose-calculator/" target="_blank" rel="noopener noreferrer">Documentation</a>
          &nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp; -->
          <a href="<%= issues %>" target="_blank" rel="noopener noreferrer">Issues</a>
        </span>
      </div>
    </footer>
  </body>
  </html>
