$len-1: 0.25rem;
$len-2: 0.5rem;
$len-25: 0.75rem;
$len-275: 0.875rem;
$len-3: 1rem;
$len-4: 1.25rem;
$len-5: 1.5rem;
$len-55: 2.5rem;
$len-6: 3rem;
$bdr-width: 1px;
$bdr-radius: 0.25rem;
$bdr-color: #ced4da;
$bdr-color-light: #dee2e6;
$clr-primary: #007bff;
$clr-secondary: #6c757d;
$clr-lightBlue: #80bdff;
$clr-gray: #6c757d;
$clr-veryDarkGray: #495057;
$clr-white: #fff;
$clr-bg-text: #e9ecef;
$clr-bg-output: #f2f7fa;
$clr-blackish: #212529;
$clr-black: #000;
$clr-highlight: #fcf892;
$clr-chi-darkblue: #24509a;
$clr-chi-darkblue-lighter4: #68a3cc;
$clr-chi-darkblue-lighter3: #488ccb;
$clr-chi-darkblue-lighter2: #3f77bc;
$clr-chi-darkblue-lighter1: #2f63af;
$clr-chi-darkblue-darker1: #1e487a;
// $clr-chi-darkblue-darker2: #???;
$clr-chi-darkblue-darker3: #19395b;
$clr-chi-white: #fff;
$clr-chi-gray-darker1: #76777a;
$clr-chi-gray: #b1b1b1;
$clr-chi-gray-lighter1: #d9d8d6;
$clr-chi-teal: #0097a9;
$clr-chi-teal-lighter4: #8fd1d8;
$clr-chi-teal-lighter3: #79c9d1;
$clr-chi-teal-lighter2: #5cbcc8;
$clr-chi-teal-lighter1: #2fa9b7;
$clr-chi-teal-darker1: #047a83;
$clr-chi-teal-darker2: #005660;
$clr-chi-teal-darker3: #004546;
$clr-chi-green: #64a70b;
$clr-chi-green-lighter4: #afd68a;
$clr-chi-green-lighter3: #a4c97b;
$clr-chi-green-lighter2: #93c160;
$clr-chi-green-lighter1: #7bb342;
$clr-chi-green-darker1: #477f3b;
$clr-chi-green-darker2: #346734;
$clr-chi-green-darker3: #17431b;
$clr-chi-lightblue: #59cbe8;
$clr-chi-lightblue-lighter4: #c7eafb;
$clr-chi-lightblue-lighter3: #b1e3fa;
$clr-chi-lightblue-lighter2: #96d9f0;
$clr-chi-lightblue-lighter1: #79d0e6;
$clr-chi-lightblue-darker1: #00b2dd;
$clr-chi-lightblue-darker2: #009ec2;
$clr-chi-lightblue-darker3: #0083a2;
$clr-chi-yellow: #f2a900;
$clr-chi-yellow-lighter4: #f8e5a0;
$clr-chi-yellow-lighter3: #fadb7f;
$clr-chi-yellow-lighter2: #face5c;
$clr-chi-yellow-lighter1: #f8c142;
$clr-chi-yellow-darker1: #eaad17;
$clr-chi-yellow-darker2: #e09b1b;
$clr-chi-yellow-darker3: #cd861c;
$clr-chi-coral: #ef6079;
$clr-chi-coral-lighter4: #f9bac2;
$clr-chi-coral-lighter3: #f0aabc;
$clr-chi-coral-lighter2: #f59aab;
$clr-chi-coral-lighter1: #f38095;
// $clr-chi-coral-darker1: #???;
// $clr-chi-coral-darker2: #???;
// $clr-chi-coral-darker3: #???;
$clr-csh-rose: #ba4896;
$clr-csh-rose-lighter3: #dc71ac;
$clr-csh-rose-lighter2: #d065a7;
$clr-csh-rose-lighter1: #c657a0;
$clr-csh-rose-darker1: #9e3e85;
$clr-csh-rose-darker2: #83336e;
$clr-csh-rose-darker3: #6a2959;
$clr-csh-rose-compliant: #982f6a;
$clr-csh-white: #fff;
$clr-csh-gray: #8f9397;
$clr-csh-gray-lighter3: #cacdce;
$clr-csh-gray-lighter2: #bfc1c4;
$clr-csh-gray-lighter1: #a7a9ad;
$clr-csh-gray-darker1: #767a7d;
$clr-csh-gray-darker2: #5e6164;
$clr-csh-gray-darker3: #434648;
$clr-csh-gray-compliant: #565658;
$clr-csh-teal: #00ae9d;
$clr-csh-teal-lighter3: #69c7c1;
$clr-csh-teal-lighter2: #56c2b6;
$clr-csh-teal-lighter1: #35bca8;
$clr-csh-teal-darker1: #009280;
$clr-csh-teal-darker2: #007a6b;
$clr-csh-teal-darker3: #006054;
$clr-csh-teal-compliant: #00615a;
$clr-csh-orange: #f47a4b;
$clr-csh-orange-lighter3: #f9ac95;
$clr-csh-orange-lighter2: #f79a7c;
$clr-csh-orange-lighter1: #f58663;
$clr-csh-orange-darker1: #de6b4b;
$clr-csh-orange-darker2: #dd5737;
$clr-csh-orange-darker3: #cc4a27;
$clr-csh-orange-compliant: #953309;
$clr-csh-purple: #7060a7;
$clr-csh-purple-lighter3: #968ac2;
$clr-csh-purple-lighter2: #8b7dbb;
$clr-csh-purple-lighter1: #7c6fb3;
$clr-csh-purple-darker1: #5a518c;
$clr-csh-purple-darker2: #494372;
$clr-csh-purple-darker3: #3b3459;
$clr-csh-purple-compliant: #6f457d;
$clr-vmfh-gray-dark: #565656;
$clr-vmfh-gray-light: #75777b;
$clr-vmfh-green: #55a63a;
$clr-vmfh-green-light: #a2d034;
$clr-vmfh-green-dark: #477f3b;
$clr-vmfh-blue: #27aae1;
$clr-vmfh-yellow: #f2a900;
$clr-vmfh-red: #8f3a49;

$font-family-sans-serif: -apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$fixedWidths: (
  "initial": 650px,
  "leftCol": 320px,
  "currentDose": 320px,
  "steadyState": 350px,
  "protocolAdjustment": 650px,
  "vancoHdAdj": 550px,
  "twoLevel": 580px,
  "secondDose": 650px,
  "auc": 650px,
);
